# for doveadm tests, set an ssh pipe from local port 2018 to the mailserver port 2018
export RESCAND_PASSWORD='DOVEADM_PASSWORD'
export RESCAND_DOVEADM_API_VALUE="X-Dovecot-API $(echo 'import sys,base64;print(base64.b64encode((sys.argv[1]).encode()).decode())'|python3 - $RESCAND_PASSWORD)"
